<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content *ngIf="past_simple">

    <table [dataSource]="past_simple.list" class="mat-elevation-z0" mat-table>

      <ng-container matColumnDef="tense">
        <th *matHeaderCellDef mat-header-cell>{{ past_simple.title }}</th>
        <td *matCellDef="let element" mat-cell>{{ element }}</td>
      </ng-container>

      <tr *matHeaderRowDef="columnToShow" mat-header-row></tr>
      <tr *matRowDef="let myRowData; columns: columnToShow" mat-row></tr>

    </table>

  </mat-card-content>
</mat-card>
