<div id="search-form">

  <form [formGroup]="inputForm"
        (ngSubmit)="onSubmit()"
  >

    <mat-form-field appearance="standard" floatLabel="auto" class="input-form">
      <!--<mat-label></mat-label>-->

      <label>
        <input matInput
               placeholder="Verbe à conjuguer"
               formControlName="verb">
      </label>
      <mat-hint>
        <!--<small style="color: tomato">This field cannot be empty</small>-->
        <app-hint [control]="f['verb']"></app-hint>
      </mat-hint>

    </mat-form-field>

    <button mat-stroked-button
            type="submit"
            class="form-button"
            [disabled]="inputForm.invalid || inputForm.pending">
      Conjuguer
    </button>

  </form>

</div>
