<div id="input-component">

    <form [formGroup]="inputForm"
          (ngSubmit)="onSubmit()"
          >

      <mat-form-field appearance="standard" floatLabel="auto">
<!--        <mat-label></mat-label>-->

        <label>
          <input matInput
                 placeholder="Verbe à conjuguer"
                 formControlName="verb">
        </label>
        <mat-hint>
          <small style="color: tomato">This field cannot be empty</small>
          <!--<app-control-messages [control]="f['verb']"></app-control-messages>-->
        </mat-hint>

      </mat-form-field>

      <button mat-stroked-button
              type="submit"
              class="form-button"
              [disabled]="inputForm.invalid || inputForm.pending">
        Conjuguer
      </button>

    </form>

</div>
