#tense-list-container {
  width: 18rem;
}

.tense-card {
  margin: 0.4em;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  //background: #7a74a0;
}

th {
  //background: gray;
  //font-weight: bold;
}
