@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  justify-content: center;
}

.app-container {
  min-height: 97vh;
  weight: 100%;
}

body, html {
}
