<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
  <!-- Index column -->
  <ng-container matColumnDef="index">
    <th *matHeaderCellDef mat-header-cell> No.</th>
    <td *matCellDef="let element; let i = index;" mat-cell> {{i}} </td>
  </ng-container>

  <!-- Present Tense 6 Verb Forms-->
  <ng-container matColumnDef="presentTense">
    <th *matHeaderCellDef mat-header-cell> Present</th>
    <td *matCellDef="let element" mat-cell> {{element.present}} </td>
  </ng-container>

  <!-- Present Perfect 6 Verb Forms -->
  <ng-container matColumnDef="presentPerfectTense">
    <th *matHeaderCellDef mat-header-cell> Passé Composé</th>
    <td *matCellDef="let element" mat-cell> {{element.presentPerfect}} </td>
  </ng-container>

  <!-- Imperfect Tense 6 Verb Forms -->
  <ng-container matColumnDef="imperfectTense">
    <th *matHeaderCellDef mat-header-cell> Imparfait</th>
    <td *matCellDef="let element" mat-cell> {{element.imperfect}} </td>
  </ng-container>

  <!-- Future Tense 6 Verb Forms -->
  <ng-container matColumnDef="futureTense">
    <th *matHeaderCellDef mat-header-cell> Future</th>
    <td *matCellDef="let element" mat-cell> {{element.future}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns; let i = index;" mat-row></tr>
</table>
<ng-content></ng-content>
