<div [ngClass]="(themeClass | async).name">
  <div
    gdAreas="header | content | footer"
    gdGap="1rem"
    gdRows="auto"
    id="app-container"
    class="background stacked"
  >
    <div
      gdArea="header"
      id="header-grid"
    >
      <!--core/header-->
      <app-header></app-header>
    </div>

    <div
      gdArea="content"
      id="content-grid"
    >
      <!--content-->
      <router-outlet fxLayoutAlign="center center"></router-outlet>
    </div>

    <div
      gdArea="footer"
      gdGridAlign="stretch end"
      id="footer-grid"
    >
      <!--core/footer-->
      <app-footer></app-footer>
    </div>

  </div>
</div>
