<div
  class="app-container"
  gdAreas="header | form | content | footer"
  gdGap="16px"
  gdRows=""
>
  <div gdArea="header">
    <mat-toolbar color="primary">
      <span>Conjugaison des verbs français</span>
    </mat-toolbar>
  </div>

  <div gdArea="form" gdGridAlign="center center">
    <app-search-form></app-search-form>
  </div>

  <div gdArea="content">
    <app-tense-table *ngIf="storage.obs$ | async"></app-tense-table>
  </div>

  <div gdArea="footer" gdGridAlign="stretch end">
    <mat-toolbar>
      <span>Les verbs disponibles à conjuguer: aller, faire, pouvoir</span>
    </mat-toolbar>

    <div *ngIf="storage.obs$" hidden>
      <p>Debug Info:</p>
      <small>Raw JSON: {{ storage.obs$ | async | json }}</small>
      <br>
      <small>Parsed Object: {{ storage.table | json }}</small>
    </div>
  </div>
</div>
