<div class="group-table-container">

  <mat-card class="mat-elevation-z2">

    <mat-card-title>{{ groupValue?.name | titlecase }}</mat-card-title>
    <mat-card-subtitle>mode verbal</mat-card-subtitle>
    <!--<mat-card-subtitle>{{ groupValue?.level | lowercase }}</mat-card-subtitle>-->

    <mat-card-content class="tense-list-cards" fxLayout="row wrap">
      <div *ngFor="let tense of groupValue?.list; let i = index">

        <!--Debug info-->
        <!--<small>Tense #{{i + 1}}</small>-->
        <app-tense-list [tenseValue]="tense"></app-tense-list>

      </div>
    </mat-card-content>


  </mat-card>

</div>
