.search-form {
  min-width: 250px;
  max-width: 500px;
  padding-bottom: 0;

  .validation {
    margin-top: 0;
    padding-top: -10px;
    color: red;
  }
}

.example-full-width {
  width: 100%;
}

.example-button {
  margin-right: 8px;
}
