<div id="header-container">

  <mat-toolbar
    class="toolbar"
    color="primary"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <span fxFlex="40">Conjugaison des verbes français</span>

    <div class="input-center" fxFlex>
      <app-search
        *ngIf="isNotHomePage"
        fxFlexFill
      ></app-search>
    </div>

    <mat-slide-toggle (click)="onSlideToggle()">
      <mat-icon aria-hidden="false" aria-label="Change the theme color">highlight</mat-icon>
    </mat-slide-toggle>

  </mat-toolbar>

</div>
