<div id="header-container">

  <mat-toolbar
    class="toolbar"
    color="primary"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <span fxFlex="40">Conjugaison des verbes français</span>

    <div class="input-center" fxFlex>
      <app-search
        *ngIf="isNotHomePage"
        fxFlexFill
      ></app-search>
    </div>

    <button mat-mini-fab
            color="basic"
            aria-label="Change the theme color"
            (click)="onSlideToggle()"
            class="mat-elevation-z2">
      <mat-icon>brightness_4</mat-icon>
    </button>

  </mat-toolbar>

</div>
