@import '~@angular/material/theming';
@import './assets/styles/variables.scss';
@import "./assets/styles/material-styles.scss";
@import "./assets/styles/material-snacker.scss";

@include mat-core();

.light-default {
  $default-theme: mat-light-theme($indigo-light, $deep-orange);
  @include style-theme($default-theme);
  @include angular-material-theme($default-theme);
}

.dark-default {
  $default-theme: mat-dark-theme($indigo-dark, $deep-orange);
  @include style-theme($default-theme);
  @include angular-material-theme($default-theme);
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', 'sans-serif';
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.center-screen-x {
  position: fixed;
  left: 50%;
  //top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
