<div id="footer-container">

  <mat-toolbar
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div>
      <iframe
        frameborder="0"
        height="30px"
        scrolling="0"
        src="https://ghbtns.com/github-btn.html?user=aubique&type=follow&count=true&size=large"
        width="220px"
      ></iframe>
    </div>
    <div fxFlexOffset="2.5rem" fxHide="true" fxShow.gt-xs>
      <iframe
        frameborder="0"
        height="30px"
        scrolling="0"
        src="https://ghbtns.com/github-btn.html?user=aubique&repo=conj&type=star&count=true&size=large"
        width="158px"
      ></iframe>
      <iframe
        frameborder="0"
        height="30px"
        scrolling="0"
        src="https://ghbtns.com/github-btn.html?user=aubique&repo=aubique&type=fork&count=true&size=large"
        width="158px"
      ></iframe>
    </div>
  </mat-toolbar>

</div>
